body {
  font-family: "Playfair Display", serif;
  font-size: 3vh;
  background: #0000ff2b;
  text-align: center;
}

.button {
  padding: 1vh;
  border-radius: 8px;
  margin-bottom: 3vh;
  margin-top: 3vh;
  background: #3f51b563;
  border-style: none;
}
.radio {
  margin-left: 2vw;
}

.section-grid {
  display: flex;
  width: 65vh;
  height: 65vh;
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin: auto;
  flex-direction: column;
  background: white;
}
.grid__row {
  flex: 1 1 auto;
  display: flex;
  border-bottom: 1px solid black;
}
.grid__cell {
  flex-direction: column;
  flex: 1 1 auto;
  border-right: 1px solid black;
}

.header {
  font-size: 6vh;
}
.section-button {
  margin-top: 3vh;
}
.top-section {
  height: 25vh;
  width: 100vw;
}
.bottom-section {
  height: 10vh;
  width: 100vw;
}
